[submodule "freeLib/src/quazip"]
	path = freeLib/src/quazip
	url = https://github.com/stachenov/quazip.git
[submodule "freeLib/src/SmtpClient"]
	path = freeLib/src/SmtpClient
	url = https://github.com/petrovvlad/SmtpClient-for-Qt.git
	branch = master
