table
{
    border: 0;
    width: 100%;
}
a:link
{
    color: #000000;
    text-decoration: none;
}
a:visited
{
    color: #000000;
    text-decoration: none;
}
a:hover
{
    color: #000000;
    text-decoration: underline;
}
ul
{
    list-style-type: none;
    padding-left: 0;

}
li
{
    padding-left: 20px;
    padding-right: 10px;
}
h1
{
    font-size: 25pt;
    text-align:center;
    color: #000000;
}
body
{
    margin: 0;
    margin-top: 30px;
    padding: 0;
    background-color: #ffffff;
}
td.menu
{
    width:10px;
    background-color: #e6e6e6;
    vertical-align: top;
    padding: 0;
    padding-top: 10px;
}
td.content
{
    background-color: #ffffff;
    vertical-align: top;
    padding: 10px;
}
table
{
    padding: 0;
    margin: 0;
}

.topMenu:hover {
    -moz-opacity: 1;
    opacity: 1;
}

.topMenu {
    background-color: #444444; /*  */
    padding:10px;
    color:#fff;
    font-weight:bold;
    position:fixed;
    top: 0;
    left: 0;
    right:0;
    text-align:center;

    -moz-opacity: 0.50;
    opacity: 0.50;
    -webkit-transition:All 1s ease;
    -moz-transition:All 1s ease;
    -o-transition:All 1s ease;
}

.topMenu a{
    padding: 10px;
    color: #ffffff;
    text-decoration:none;
}

.topMenu a:hover{
    background-color: #cccccc;
    color: #000000
}
