:root {  color-scheme: light dark;}
@media (prefers-color-scheme: dark) {
  img.download {
    filter: invert(100%);
  }
}

a {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: light-dark(black, white);
}
a.block {
  font-size: 1.5rem;
  display: block;
}
a.block:hover {
  text-decoration: underline;
}
a.block:focus {
  text-decoration: underline;
}

div.hat{
  display: flex;
}
svg.home {
  fill: light-dark(#000, #fff);
  width: 1em;
  height: 1em;
}
.languageSelector {
  display: inline-flex;
  justify-content: flex-end;
  gap: 10px;
  margin-left: auto;
  font-family: sans-serif;
}

a.lib {
  font-size:2rem;
  font-weight:bold;
}

a.item {
  font-size: 1.5rem;
  font-weight: bold;
  color: light-dark(#444444, #c0c0c0);
}
a.item:hover  {
  text-decoration: underline;
}
a.item:focus {
  text-decoration: underline;
}
div.item {
  font-size: 1rem;
  background: light-dark(#eeeeee, #303030);
  border-radius: 0.5em;
  margin: 0.5em;
  padding: 0.1em;
}

div.bookslist{
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
div.bookcard{
  display: flex;
  gap: 5px;
  background: light-dark(#eeeeee, #303030);
  border-radius: 0.5rem;
  padding: 0.5rem;
}
img.cover {
  width: 9rem;
  display: block;
}

div.caption {
  font-size: 2em;
  font-weight: bold;
  padding-bottom: 0.1rem;
}
a.book {
  font-size:2rem;
  font-weight: bold;
}
div.book {
  font-size: 1.7rem;
  font-weight: bold;
  font-family: sans-serif;
/*  padding-bottom: 0.1em*/
}
a.author {
  font-size: 1.4rem;
  font-weight: normal;
  font-style: oblique;
  font-family: sans-serif;
  display: block;
  color: light-dark(#444444, #c0c0c0);
}

div.search {
  font-size:1.5rem;
  font-weight: bold;
}

div.page-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-family: Arial,sans-serif;
  font-size: 1.4rem;
}
span.page-current {
  display: flex;
  font-size: 1.2em;
  box-shadow: inset 0 0 0 1px;
  color: #548EAA;
  padding: 0 0.2em;
  height: 1.5em;
  min-width: 1.1em;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}
span.page {
  padding: 0 0.2em;
  align-items: center;
}
span.arrow {
  color: light-dark(#C0C0C0, #4d4d4d);
  padding: 0 0.2em;
  align-items: center;
}
a.page {
  padding: 0 0.2em;
  font-size: 1.2em;
  font-weight: 500;
}

input {
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 0.1rem;
}
div.download {
  display: flex;
  gap: 0.1em;
}
a.download {
  display: inline-flex;
  font-family: Arial,sans-serif;
  font-size: 1rem;
  padding: 0.1rem;
  border: 1px;
  border-radius: 3px;
  border-style: solid;
  border-color: #888;
}
img.download {
  height: 1rem;
}
div.annotation {
  margin-top: 0.4rem;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.annotation p {
  margin: 0;
  font-weight: normal;
  font-size: 1rem;
}
hr {
  color: light-dark(black, white);
  background-color: light-dark(black, white);
  height:3px;
}

/*for mobile device*/
@media screen and (max-width: 900px) {
  a {
    font-size: 2rem;
  }
  div.bookcard {
    font-size: 1.5rem;
    flex-direction: column;
  }
  div.caption {
    font-size: 3rem;
  }
  input {
    font-size: 2rem;
  }
  img.home {
    height: 48px;
  }
  div.hat{
    display: flex;
    flex-direction: column;
  }
  .languageSelector {
    font-size: 1.5rem;
    flex-direction: column;
  }
}

