a:link
{
    color: #000000;
    text-decoration: none;
}
a:visited
{
    color: #000000;
    text-decoration: none;
}
a:hover
{
    color: #000000;
    text-decoration: underline;
}
ul
{
    list-style-type: none;
    padding-left: 0px;

}
li
{
    padding-left: 20px;
    padding-right: 10px;
}
h1
{
    font-size: 25pt;
    text-align:center;
    color: #000000;
}
body
{
    margin: 0;
    margin-top: 30px;
    padding: 0;
    background-color: #ffffff;
}
td.menu
{
    width:10px;
    background-color: #e6e6e6;
    vertical-align: top;
    padding: 0px;
    padding-top: 10px;
}
td.content
{
    background-color: #ffffff;
    vertical-align: top;
    padding: 10px;
}
table
{
    padding: 0;
    margin: 0;
}

.topMenu:hover {
    -moz-opacity: 1;
    opacity: 1;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=100);
}

.topMenu {
    background-color: #444444; /*  */
    padding:10px;    /* Внутренние оступы */
    color:#fff;    /* Цвет текста */
    font-weight:bold;    /* Толщина текста */
    position:fixed;    /* Фиксированное позиционирование */
    top:0;    /* Сверху 0, прижимаем к верху экрана */
    left:0px; right:0px;    /* Слева и справа по 50px отступов */
    text-align:center; /* Расположение текста по центру */
    
    /* Прозрачность старт */
    -moz-opacity: 0.50;
    opacity: 0.50;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=50);
    /* Прозрачность конец */
    
    /* transition старт */
    -webkit-transition:All 1s ease;
    -moz-transition:All 1s ease;
    -o-transition:All 1s ease;
    /* transition конец */
}

.topMenu a{
    padding:10px; /* Внутренние оступы */
    color:#ffffff;    /* Цвет ссылки */
    text-decoration:none;    /* Отсутствие нижней линии */
}

.topMenu a:hover{
    background-color:#cccccc;    /* Цвет фона */
    color: #000000
}
