/*блок с текстом заголовка*/
.titleblock
{
    text-indent: 0;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

/*Настройка заголовков*/
.h0
{
    font-size: 140%;
    margin-bottom: 0em;
}

.h1
{
    font-size: 120%;
    margin-bottom: 0em;
}

.h2
{
    font-size: 120%;
    margin-bottom: 0em;
}

.h3
{
    font-size: 120%;
    margin-bottom: 0em;
}

.h4
{
    font-size: 120%;
    margin-bottom: 0em;
}

.h5
{
    font-size: 120%;
    margin-bottom: 0em;
}

.h6
{
    font-size: 120%;
    margin-bottom: 0em;
}

/*блок с заголовком сноски*/
.titlenotes
{
    text-indent: 0;
    text-align: center;
    font-size: 100%;
    font-weight: bold;
    font-style: italic;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

/*настройка строк оглавления*/
.indent0
{
    margin-left: 0pt;
    text-align: left;
}

.indent1
{
    margin-left: 10pt;
    text-align: left;
}

.indent2
{
    margin-left: 20pt;
    text-align: left;
}

.indent3
{
    margin-left: 30pt;
    text-align: left;
}

.indent4
{
    margin-left: 40pt;
    text-align: left;
}

.indent5
{
    margin-left: 40pt;
    text-align: left;
}

.indent6
{
    margin-left: 40pt;
    text-align: left;
}

/*ссылка*/
.anchor
{
    vertical-align: super;
    font-size: 80%;
}

/*ссылка внутри текста*/
.inlineanchor
{
    display: none;
}

/*ссылка на конец абзаца*/
.blockanchor
{
    vertical-align: super;
    font-size: 80%;
}

/*акцентированный текст*/
.emphasis
{
    font-style: italic;
}

/*жирный текст*/
.strong
{
    font-weight: bold;
}

/*перечеркнутый текст*/
.strike
{
    text-decoration: line-through;
}

/*эпиграф*/
.epigraph
{
    margin-left: 4em;
    text-align: right;
    margin-top: 0.4em;
    margin-bottom: 0.2em;
    font-style: italic;
}

/*текст от автора*/
.text-author
{
    text-align: right;
    font-weight: bold;
}

/*подзаголовок*/
.subtitle
{
    page-break-after: avoid;
    text-align: center;
    font-weight: bold;
    margin-bottom: 0.5em;
    margin-top: 1em;
}

/*абзац*/
p
{
    text-indent: 1.5em;
    margin-bottom: 0pt;
    margin-top: 0pt;
}

/*абзац заголовка*/
p.css
{
    text-indent: 0em;
}

/*абзац с текстом*/
p.text
{
    text-indent: 1.5em;
    margin-bottom: 0pt;
    margin-top: 0pt;
    text-align: justify;
}

/*цитата*/
.cite
{
    font-style: italic;
    text-indent: 1em;
    margin-bottom: 0.3em;
    margin-top: 0.3em;
}

/*картинка*/
.image
{
    text-indent: 0em;
    text-align: center;
}

/*картинка внутри текста*/
.inlineimage
{
    
}

/*стихотворение*/
.poem
{
    text-indent: 0em;
    margin-left: 3em;
    margin-bottom: 0em;
    margin-top: 0em;
    font-style: italic;
}

/*строфа*/
.stanza
{
    margin-bottom: 0.5em;
}

/*таблица*/
.table
{
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}

/*ячейка таблицы с заголовком*/
.table th
{
    border: 1px solid black;
    background: #ccc;
}

/*ячейка таблицы с данными*/
.table td
{
    border: 1px solid black;
}

/*код программы*/
.code
{
    margin-bottom: 0em;
    margin-top: 0em;
}

/*Сноски в тексте*/
.inlinenote
{
    font-style: italic;
    font-size: 80%;
    color: #6e6e6e;
}

span.inlinenote::before
{ 
    content: "["; 
}

span.inlinenote::after
{ 
    content: "]"; 
}

/*сноски после абзаца*/
.blocknote
{
    font-style: italic;
    font-size: 80%;
    border-radius: 4px; 
    background: #e6e6fa; 
    padding: 2px; 
    border: 1px #505050 solid;  
}

/*номер сноски*/
.notenum
{
    font-weight: bold;
}

/*Пропуск строки*/
.emptyline
{
     margin-top: 1em;
}

/*аннотация*/
.annotation
{
    margin-right: 1em;
    margin-left: 1em;
    font-size: 80%;
}

/*буквица*/
span.dropcaps
{
    font-weight:bold;
    font-size:300%;
    float:left;
}

/*абзац с буквицей*/
p.dropcaps
{
    text-indent: 0;
    text-align: justify;
}

/*Виньетка перед заголовком*/
.vignette_title_before
{
    text-indent: 0;
    text-align: center;
    page-break-after: avoid;
    margin-bottom: 0;
    margin-top: 0;
}

/*Виньетка после заголовка*/
.vignette_title_after
{
    text-indent: 0;
    text-align: center;
    page-break-before: avoid;
    margin-top: 0;
    margin-bottom: 0;
}

/*Виньетка в конце главы*/
.vignette_chapter_end
{
    text-indent: 0;
    font-size: 200%;
    text-align: center;
    page-break-before: avoid;
    page-break-inside: avoid;
    margin-top: 0em;
    margin-bottom: 0em;
}
